<div fxFlex="90" fxFlex.lt-sm="100" class="filter-sidenav" perfectScrollbar>
    <div class="toggles-wrapper" fxLayout="column" fxLayout.lt-md="column">
        <div class="toggles" fxFlex.lt-md="100">
            <mat-accordion>
                <mat-expansion-panel #mep="matExpansionPanel">
                    <mat-expansion-panel-header >
                        <mat-panel-title>{{title}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div  *ngFor="let product of categoryDetails;" >
                        <div tabindex="1" (click)="navigateToSearch(product)" class="product"   (click)="scroll('anotherComponentsElementId')">
                            <p class="cursor">{{product.productCategoryX}}</p>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="mt-15">
                    <mat-expansion-panel-header>
                        <mat-panel-title *ngFor="let prod of headerDetails">{{prod.brandTag}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let pro of brandDetails">
                        <p  class="cursor">{{pro.brandX}}</p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="mt-15">
                    <mat-expansion-panel-header (click)="FetchCategoriesForROI()">
                        <mat-panel-title *ngFor="let prod of headerDetails">{{title2}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let product of  ROIproperties;">
                        <p  class="cursor">{{product.productCategoryX}}</p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="mt-15">
                    <mat-expansion-panel-header>
                        <mat-panel-title>CUSTOMER SUPPORT
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p  class="cursor">Order Status</p>
                        <p  class="cursor">Email Assistance</p>
                        <p  class="cursor">FAQ'S</p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="mt-15">
                    <mat-expansion-panel-header>
                        <mat-panel-title *ngFor="let prod of headerDetails">NEWSLETTER
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <div>Sign up for our newsletter and stay up-to-date with the latest offers,
                            and newest products</div>
                        <input name="NewsLetter" type="text" maxlength="100" id="NewsLetter"><br>
                        <button mat-raised-button color="primary">Submit</button>
                    </div>
                </mat-expansion-panel>



            </mat-accordion>
        </div>

        <div class="popular-products mt-15" fxFlex.lt-md="100">
            <h2 class="busines mt-20">Get Your Business Listed</h2>
            <img mat-card-image id="business" src='assets\images\Business.png'>
        </div>
    </div>

</div>