
img{
    margin-left: 136px !important;
}
mat-card {
    width: 400px !important;
}

.login-wrapper {
    max-width: 100% !important;
}
#icon{
    font-size: 16px;
    margin-left: -25px;
    cursor:pointer;
}
a,i,mat-icon{
    color:rgb(160, 157, 157)!important;
}
a:hover{
    text-decoration: underline !important;
}
mat-icon{
    font-size: 17px !important;
}