
<div class="home-header-2">
    <div class="container"fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxlayoutalign="space-between center">
      <div class="logo">
          <a routerLink="/home/dashboard"><img src="assets/images/logo2.png"></a>  <!---->
      </div>
      <div fxflexoffset.gt-sm="10"  fxFlex class="search-form"  >
       <!-- <form class="search-form" fxLayout="row">
         <div class="form-wrap" *ngIf="router.url.includes('dashboard')">
            <input type="text" [formControl]="searchInput" placeholder="Type to search...">
            <button class="btn-search" type="submit"  (click)="search()" (click)="scroll('anotherComponentsElementId')">Search</button>
         </div>
       </form> -->
      </div>
      <div class="call-bucket-wrap " fxLayout="row" fxLayout.sm="row" fxLayoutAlign="center center" >
        <div class="info-message-icon"  fxLayout="row" fxLayoutAlign="center center">
          <div  fxLayout="row" fxLayoutAlign="center center">
            <i class="fa fa-home" title="Home" [routerLink]="['/home/dashboard']" ><span fxHide.lt-sm="true" class="txt hidden-xs" >Home</span></i>
            <i class='fa  fa-solid fa-trophy' title="Winner Announcement"><span fxHide.lt-sm="true" class="txt  hidden-xs">Winner Announcement</span></i>
            <i class="fa fa-user" *ngIf="enableProfile ===null"   routerLink="/auth/login" title="Winner my-account" ><span fxHide.lt-sm="true" class="txt  hidden-xs" >Sign In</span></i>
            <i class="fa fa-user"  *ngIf=" enableProfile==='true'"   title="Winner my-account" [matMenuTriggerFor]="menu" ><span fxHide.lt-sm="true" class="txt  hidden-xs" >My Account

              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="changePassword()">change password</button>
                <button mat-menu-item (click)="logout()">logout</button>
              </mat-menu>
            </span></i>
            <!-- <i class="fa  icon showCursor"  routerLink="/pages/cart">
              <span class="txt  hidden-xs" routerLink="/pages/cart">Closed Quiz</span></i> -->
          
             
             
         
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxShow="false" fxShow.gt-sm class="menu-container2">
      <app-menu  *ngIf="router.url != '/auth/my-account' && router.url != '/auth/Signup'
       && router.url != '/pages/ForgotPassword'"></app-menu>
  </div>


