 .btn {
    width: 180px;
    background-color: #268e9b;
    border: none;
    outline: none;
    height: 45px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    margin: 10px 0;
    cursor: pointer;
    // transition: 0.5s;
  }
