<div>
    <p >Are you sure you want to Delete</p>
    </div>


     <div class="mt-2" fxLayoutAlign="end"   fxLayoutAlign.xs="center">
        <div  class="d-flex p-1"  fxLayoutGap="5px" fxLayout.xs="row">
        <button class="btn border-0 " (click)="onNoClick()">Cancel</button>
        <button class="btn border-0" (click)="deleteQuiz()"  *ngIf="router.url.includes('/home/dashboard')"> Delete quiz </button>
       <button class="btn border-0" (click)="deleteUser()" *ngIf="router.url.includes('/admin/user-dashboard')">Delete user</button>

    </div>
    
     </div>