.btn{
    height: 90px;
    border-radius: 8px;
    border: 2px solid darkgray;
    width:60px;
    margin-top: 6px;
}

.close-button{
  float: right;
  border: none;
  background: white;
}
  
  .close-icon {
    transition: 1s ease-in-out;
    color: darkgray;
  }
  
  .close-icon:hover {
    transform: rotate(180deg);
  }
mat-divider{
  margin: 15px 0px;
}
mat-form-field {
  position: relative;
  left: 8px;
  width: 61vw;
  margin-top: -2px !important;
  font-size: 10px;
  input{
    font-size: 14px;
  }
}
mat-dialog-content{
  max-height: 90%;
  height: 90%;
}
@media screen and (max-width:562px) {
  mat-dialog-content{
    max-height: 70vh !important;
  }
    form{
        margin-left: 0px;
        width:auto;
    }
   
    .form-outline{
        width: 55vw;
    }
    .btn{
        height: 60px;
        border-radius: 8px;
        border: 2px solid lightgray;
        width:52px;
        margin-right: 20px;
    }
   .d-flex{
    max-width: 80%;
   }
   .d-inline-block{
    max-width: 14%;
    .float_subject{
      left: -30px;
    position: relative;
    }
   
   }
   .editor{
    width: 70vw;
  }
  
}
