img.big-image {
    height: 400px !important;
    width: 90% !important;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

img.thumb-nail-img {
    height: 110px !important;
    width: 110px !important;
    border-radius: 3px;
    margin-top: 2px;
}

mat-icon.ng-star-inserted {
    color: #ffc111;
}

.email {
    color: #ffc111 !important;
    cursor: pointer;
    font-size: medium;
}

h3.number {
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 10px;
}

p.contact-message {
    text-transform: lowercase;
    font-size: small;
}

.btn-layer {
    z-index: -1 !important;
}

.sidebar{
    height: 1000px !important;
}

left-sidebar{
    height: 600px!important;
}

mat-card.des{
    min-height: 300px!important;
  }

.more{
    cursor: pointer; 
}

.first{
    visibility: hidden;
}

app-product-rating{
    z-index: -1 !important;
}

//media queries for image zoom functionality
@media (max-width: 639px) {  //for small mobile screens with touch
    .hover-zoom {
        display: none !important;
    }
    .magnifier-zoom, .disabled-zoom-image{
        // min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 640px) and (max-width:959px) and (any-hover: none){//for medium touchscreen devices
    .hover-zoom {
        display: none !important;
    }
    .magnifier-zoom, .disabled-zoom-image{
        // min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 640px) and (max-width:959px) and (any-hover: hover){//for medium screen with pointing device
    .magnifier-zoom{
        display: none !important;
    }
    .product-image{
        width: 50%;
    }
    .hover-zoom{
        width:100%;
    }
    .disable-zoom {
        width: initial;
    }
    .disabled-zoom-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 960px) and (any-hover: none) { //for large touchscreens
    .hover-zoom {
        display: none !important;
    }  
}

@media (min-width: 960px) and (any-hover: hover) { //for large screens with pointing devices
    .magnifier-zoom{
        display: none !important;
    }
}

@media (min-width: 960px) { //for both kinds of large screens
    .hover-zoom, .magnifier-zoom, .disabled-zoom-image{
        min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


.products{
    width: 1025px;
}


 