<div *ngIf="loaderService.isLoading" class="loading"></div>
<div class="container" id='anotherComponentsId'>

   <div class="details-wrapper sec-padding">
      <div fxLayout="row wrap" class="sidebar" fxHide fxShow.gt-sm fxFlex="100" fxFlex.gt-sm="20">
         <left-sidebar (categoryEvent)="getCategory($event)"></left-sidebar>
         <app-popular-products [product]="items" *ngIf="items.length > 0"></app-popular-products>

      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80">

         <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">

            <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="45">
               <mat-card class="product-image" [ngClass]="{'disable-zoom': !itemDetails.enableZoom}">
                  <div>
                     <!-- <button mat-icon-button fxHide="false" fxHide.gt-md>
                        <mat-icon>fullscreen</mat-icon>
                     </button> -->

                     <!-- if enableZoom property of item is false or undefined, a simple picture is displayed -->
                     <img *ngIf="!itemDetails.enableZoom" [src]="productMainImage" alt="Main Product Image"
                        class="disabled-zoom-image big-image">
                     <!-- if enableZoom property of item is true magnifier-zoom or hover-zoom image is displayed based on screen size -->
                     <img *ngIf="itemDetails.enableZoom" class="magnifier-zoom" alt="Main Product Image"
                        [src]="productMainImage" [redZoom]="productMainImage" redZoomClass="red-zoom--style--magnifier">
                     <img *ngIf="itemDetails.enableZoom" class="hover-zoom" alt="Main Product Image"
                        [src]="productMainImage" [redZoom]="productMainImage" redZoomClass="red-zoom--style--window">
                     <!-- <img *ngIf="hideImage" src='data:image/jpg;base64,{{itemDetails.mediumImage}}' class="big-image" />
                     <img *ngIf="!hideImage" src='data:image/jpg;base64,{{mediumImageReplace}}' class="big-image" /> -->
                  </div>
                  <!-- <a style="cursor: pointer;">
                     <mat-icon (click)="openProductDialog(mediumImageReplace)">zoom_in</mat-icon>
                  </a> -->
                  <!-- (click)="openProductDialog(product, bigProductImageIndex)" -->
               </mat-card>

               <div class="small-carousel" >
                  <swiper class="swiper-container mt-15" [config]="config" id="k" >
                     <ng-template swiperSlide *ngFor="let image of images; let i=index" class="swiper-wrapper">
                        <div class="swiper-slide ">
                           <mat-card (click)="replaceImage(image?.bigImage)" class="p-1">
                              <img src='data:image/jpg;base64,{{image?.smallImage}}'
                                 class="swiper-lazy thumb-nail-img" />
                           </mat-card>
                        </div>

                     </ng-template>
                  </swiper>
               </div>
            </div>

            <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2"
               ngClass.xs="mt-2">

               <div class="product-right">
                  <div class="product-details">
                     <h2>{{itemDetails.catalogItemX}}</h2>
                     <h4 *ngIf="!productsService?.catalogMode" class="email"><i class="fa fa-envelope"
                           aria-hidden="true"></i> {{itemDetails.contactEmail}}</h4>
                     <h3 class="price" *ngIf="!productsService?.catalogMode" class="number mb-2"> <i
                           class="fa fa-phone-square"></i> {{itemDetails.contactPhone}}</h3>
                     <p class="text-muted mb-1">{{address.addressLine1}} </p>
                     <p class="text-muted mb-1">{{address.city}} , {{address.state}}-{{address.zip}}</p>
                     <p class="text-muted mb-2">{{address.country}} </p>
                     <p class="text-muted mb-1"><app-product-rating [rating]="itemDetails?.cataLogRating"></app-product-rating> </p>
                     <p class="text-muted mb-1">     <span class="text-muted fw-500">Views: </span> {{itemDetails?.hits}} </p>
                     <button mat-raised-button color="primary" class="btn-layer btn-project mr-10"
                     (click)="buyNow(product, counter)"><i class="fa fa-share"></i> Share</button>
                     <button mat-raised-button color="primary" class="btn-layer btn-project"
                     (click)="buyNow(product, counter)"><i class="fa fa-thumbs-o-up"></i> Like</button>
                  </div>
                  
                  <div class="py-1 mt-15" *ngIf="cartDetails">
                     <h4 *ngIf="cartDetails.isSaleItem"> <span class="text-muted fw-500">MRP: </span> <del><i class="fa fa-rupee"></i>{{cartDetails.priceBeforeSale}}</del><span class="ml-3"><i class="fa fa-rupee"></i>{{cartDetails.price}}</span></h4>
                     <h3 class="price" ><i class="fa fa-rupee"></i>{{cartDetails.price }}</h3>
                     <p class="mb-1">
                        <span class="text-muted fw-500">Availability: </span>
                        <span class="avalibility" *ngIf="cartDetails.inStock"><span>In Stock</span></span>
                        <span class="avalibility" *ngIf="!cartDetails.inStock"><span>Out of Stock</span></span>
                     </p>

                  </div>
                  <div class="quantity" *ngIf="cartDetails">
                     <span class="text-muted fw-500">Quantity</span>
                     <div fxLayout="row" fxLayout.xs="column"  class="text-muted">
                        <div fxLayout="row" fxLayoutAlign="center start">
                           <button mat-icon-button matTooltip="Remove" (click)="decrement()">
                              <mat-icon>remove</mat-icon>
                           </button>
                           <input type="text" name="quantity" value="{{counter}}" class="form-control input-number" disabled="true">
                           <button mat-icon-button matTooltip="Add" (click)="increment()">
                              <mat-icon>add</mat-icon>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="buttons mt-20" *ngIf="cartDetails">
                     <button mat-raised-button  color="primary" class=" btn-project mr-10"
                     (click)="addToCart(product, counter)"> <i class="fa fa-shopping-cart mr-1" ></i> ADD TO CART </button>
                  </div>
               </div>

            </div>
         </div>

         <div class="review-wrapper" fxFlex="100" fxFlex.md="75">
            <mat-card class="des">
               <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
                  <mat-tab label="Description">
                     <div class="full-desc lh">
                        <p class="text-muted" *ngIf="hideText">
                           {{description | slice:0:800}}
                           <span *ngIf="description?.length > 800" class="more" (click)="showFull()">more... </span>
                        <p class="text-muted" *ngIf="!hideText">
                           {{description }}

                     </div>
                  </mat-tab>

                  <mat-tab label="Reviews">
                     <div class="full-desc lh">
                        <mat-list class="reviews">
                           <mat-list-item class="content">
                              <!-- <img matListAvatar [src]="'assets/images/avatars/avatar-1.png'" alt="image" class="review-author"> -->
                              <p matLine fxLayoutAlign="start center">
                                 <span class="name">Martina Solsker</span>
                              </p>
                              <p matLine class="text-muted"><small>22 Mart, 2018 at 18:44</small></p>
                              <p matLine class="text">Integer id eros et mi fringilla imperdiet. In dictum
                                 turpis eget magna viverra condimentum. Ut malesuada interdum ultrices. Proin
                                 tristique sem pellentesque, posuere dui in, maximus magna. Aenean vehicula,
                                 tortor gravida elementum tincidunt, justo lorem vestibulum ex, eget egestas
                                 arcu tellus in magna.</p>
                           </mat-list-item>
                           <mat-list-item class="content">
                              <!-- <img matListAvatar [src]="'assets/images/avatars/avatar-2.png'" alt="image" class="review-author"> -->
                              <p matLine fxLayoutAlign="start center">
                                 <span class="name">Deni Aniston</span>
                              </p>
                              <p matLine class="text-muted"><small>09 Octomber, 2018 at 12:22</small></p>
                              <p matLine class="text">Nulla accumsan, lacus sed suscipit rutrum, turpis augue
                                 accumsan metus, in accumsan urna mi vehicula lorem. Pellentesque semper nibh
                                 vitae augue placerat finibus. Nulla sed porttitor nunc, quis tristique sem.
                                 Quisque in varius nisl. Integer turpis lorem, ultricies sed sem nec, commodo
                                 molestie arcu. Nulla finibus ex tortor, et suscipit magna semper
                                 consectetur. Cras sit amet metus dui. Maecenas eget dui at ex varius
                                 malesuada vel non felis.</p>
                           </mat-list-item>
                           <mat-list-item class="content">
                              <!-- <img matListAvatar [src]="'assets/images/avatars/avatar-3.png'" alt="image" class="review-author"> -->
                              <p matLine fxLayoutAlign="start center">
                                 <span class="name">Simon Ladger</span>
                              </p>
                              <p matLine class="text-muted"><small>14 December, 2018 at 2:10</small></p>
                              <p matLine class="text">Pellentesque hendrerit vel turpis aliquam placerat.
                                 Suspendisse ullamcorper congue feugiat. Etiam gravida metus ac massa posuere
                                 venenatis. Pellentesque vehicula lobortis dolor, ac pretium dolor maximus
                                 quis. Fusce vitae iaculis mauris, quis posuere ex. Mauris vitae convallis
                                 nibh. Etiam eget enim at orci interdum maximus nec in ante.</p>
                           </mat-list-item>
                        </mat-list>
                        <div class="writte-reviews mt-40">
                           <h3 class="mt-2">LEAVE YOUR REVIEW</h3>
                           <!-- <h4 class="mt-2">{{itemDetails?.contactMessageX}}</h4> -->
                           <div class="divider"></div>
                           <p class="mt-2 text-muted contact-message">{{itemDetails?.contactMessageX}}</p>

                           <form fxLayout="row wrap">
                              <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="mt-20 pr-5" ngClass.sm="mt-10"
                                 ngClass.xs="mt-10">
                                 <mat-form-field class="w-100">
                                    <input matInput type="text" placeholder="Your Name (required)" #name="ngModel"
                                       ngModel name="name" required>
                                    <mat-error *ngIf="name.invalid">Please enter a valid message</mat-error>
                                 </mat-form-field>
                              </div>
                              <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="pl-5 mt-20" ngClass.sm="mt-10"
                                 ngClass.xs="mt-10">
                                 <mat-form-field class="w-100">
                                    <input type="email" matInput placeholder="Email Address (required)" #email="ngModel"
                                       ngModel name="email" required>
                                    <mat-error *ngIf="email.invalid">Please enter a valid message
                                    </mat-error>
                                 </mat-form-field>
                              </div>
                              <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">

                                 <mat-form-field class="w-100">
                                    <input type="tel" matInput placeholder="Phone:" #phone="ngModel" ngModel
                                       name="phone" required>
                                    <mat-error *ngIf="phone.invalid">Please enter a valid message
                                    </mat-error>
                                 </mat-form-field>
                              </div>
                              <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                                 <mat-form-field class="w-100">
                                    <textarea placeholder="Post message" matInput rows="6" ngModel name="content"
                                       required></textarea>
                                 </mat-form-field>
                              </div>
                              <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1"
                                 ngClass.xs="mt-1">
                                 <button class="btn-project" mat-raised-button color="accent" type="submit">
                                    Send Message <i class="fa fa-paper-plane-o"></i></button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </mat-tab>
               </mat-tab-group>
            </mat-card>
         </div>

         <div class="products sec-padding">
            <div class="title">
               <h4 class="widget-title">RELATED ITEMS</h4>
            </div>
            <app-product-carousel-three [product]="relatedItems | slice:0:6" *ngIf="show"></app-product-carousel-three>
         </div>
      </div>



   </div>