 
 app-profile{
 .main{
    overflow-y: auto;
}
 .mat-tab-label-active{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fafafa;
    opacity: 1; 
    border-left: solid #ddd 1px;
    border-right: solid #ddd 1px;
    border-top: solid #ddd 1px ;
  }
 .mat-tab-label {
    min-width: 100px;
    padding: 5px;
  }
 .mat-tab-header{
    border: none;
  }
}