<div mat-dialog-container>
    <p mat-dialog-title class="head-div">Enter a new password. Press the Reset button to reset the password</p>
    <div class="input_q">
        <form formGroup="resetForm">
            <input placeholder="Enter new password" class="form-control" formControlName="resetPassword" appFormErrorMsg
                required>
        </form>
    </div>
    <mat-dialog-actions class="float-right">
        <button class="btn border-0 cancel-btn" (click)="onNoClick()">Cancel</button>
        <button class="btn border-0" (click)="resetPasswordUser()">Reset</button>
    </mat-dialog-actions>
</div>