<div mat-dialog-container>
    <p mat-dialog-title class="head-div">Enter a new password. Press the Reset button to reset the password</p>
    <div class="input_q">
        <form [formGroup]="resetForm">
            <input placeholder="Enter new password" class="form-control" formControlName="password" 
                required>
                <mat-error *ngIf="checkError('password', 'required') && resetForm.get('password').touched ">Password is
                    required</mat-error>
                  <mat-error *ngIf="checkError('password', 'pattern') && resetForm.get('password').touched  ">Password must
                    be 8 characters, 1 uppercase , 1 special character</mat-error>
        </form>
    </div>
    <mat-dialog-actions class="float-right">
        <button class="btn border-0 cancel-btn" (click)="onNoClick()">Cancel</button>
        <button class="btn border-0" (click)="resetPasswordUser()">Reset</button>
    </mat-dialog-actions>
</div>