#title{
  visibility: hidden;
}
.custom-row {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2em;
}
mat-card-content span.only-show-on-hover {
  visibility: hidden;
}
mat-card-content:hover span.only-show-on-hover {
  visibility: visible;
}
.quiz-heading {
  background-color: #f5f5f5;
}

.example-margin {
  margin: 0 10px;
}

.icon {
  position: relative;
  top: -4px;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

mat-form-field {
  width: 230px;
  font-size: 12px;
  margin-bottom: 0;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.flex-space {
  flex: 1;
}

.button {
  background-color: #268e9b;
  border: none;
  outline: none;
  color: #fff;
}

.options {
  margin-right: 30px;
}
.options-width {
  width: 100%;
}
.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
mat-card-actions {
  margin-bottom: 0;
}

.opacity {
  opacity: 0.8;
}

@media screen and(max-width:340px) {
  .options-width {
    width: 80%;
  }
  #content{
    width: 100%;
    orientation: landscape;
  }

}
@media print{
  #content{
    width: 250vw;
  }
}

@media screen and(max-width:768px) {
  
  mat-table {
    font-size: 10px;
    text-align: center;
    mat-cell {
      font-size: 9px;
      text-align: center;
    }
  }
}
#clock {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}

#hour-hand {
  width: 20%;
  height: 50%;
  background: black;
  position: absolute;
  top: 25%;
  left: 50%;
  transform-origin: center bottom;
}

#minute-hand {
  width: 20%;
  height: 75%;
  background: black;
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform-origin: center bottom;
}

#second-hand {
  width: 10%;
  height: 85%;
  background: red;
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform-origin: center bottom;
}
