<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="left-sidebar-wrapper  details-wrapper sec-padding related-Items"  fxLayoutAlign="center center">
      <div class="sidebar-wrapper" fxLayoutAlign="center center">

         
              <mat-card class="col-lg-10 card ">
                
                      <div class="col-lg-12 col-md-12 col-sm-12 p-4 text-center">
                          <img src="assets/images/welcome.jpg" width="100px" height="100px">
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 mt-3 text-center">
                          <h4>{{message}}</h4>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                          <ul *ngFor="let data of data[0].terms;">
                            <li >{{data.value}}</li>
                          </ul>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 p-4 text-center">
                          <button mat-raised-button class="btn" (click)="attemptQuiz()">continue</button>
                      </div>
                
              </mat-card>
         
      </div>
  </div>
</div>
<div class="overlay d-flex justify-content-center align-items-center" *ngIf="studentattempts && timerStarted ">
    <div class="overlay-border d-flex justify-content-center align-items-center">
        <div class="text-white count-down">{{showRedirectTime}}</div>
    </div>
</div>