// .dialog {
//   width: 400px;
//   height: 500px;
// }

// .first-row {
//   height: 220px;
//   margin: auto auto;
// }

// .button-width {
//   width: 13em;
// }
.container-fluid{
  background-color: lightblue;
  height:100%;
  overflow: auto;
 }
 .btn{
  width: 150px;
  background-color: #268e9b;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  margin: 0;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
 }
mat-card{
  overflow: auto;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.overlay-border{
  border-radius: 50% 50%;
  width: 12em;
  height: 12em;
  border: 8px solid white;
}
.count-down{
  font-weight: 500;
  font-size: 8em;
}
@media screen and(max-width:520px) {
  .container-fluid{
    background-color: lightblue;
    height:900px;
   }
   mat-card{
    margin-top: 30px;
   }
}