
  mat-form-field {
    font-size: 15px;
    width: 33vw;
  }
 @media screen and (max-width:628px) {
  mat-card{
    margin:10px;
  }
  mat-form-field {
    font-size: 15px;
    width: 78vw;
  }
  
 }
  
 .mat-card{
    width: 80%;
    background-color: white;
    max-height: 98vh;
    box-sizing: border-box;
    overflow: auto;

 }
 ::-webkit-scrollbar{
  width: 0;
  background: transparent;
 }

