<!-- <div class="container h-100">
  <mat-card class="h-100">
    <div class="row pt-5">
      <div class="col-md-12">
        <form [formGroup]="assignQuizForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <mat-form-field>
                <mat-label>FirstName</mat-label>
                <input matInput type="text" formControlName="firstName" />
              </mat-form-field>
            </div>
            <div class="form-group col-md-6">
              <mat-form-field >
                <mat-label>Last Name</mat-label>
                <input type="text" matInput formControlName="lastName"  />
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="emailAddress" type="email" [readonly]="assignedQuizList.role === 'student' " />
              </mat-form-field>
            </div>
            <div class="form-group col-md-6">
              <mat-form-field>
                <mat-label>Organisation</mat-label>
                <input
                  matInput
                  placeholder="Organization"
                  name="organization"
                  formControlName="organization"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <mat-form-field>
                <mat-label>Role</mat-label>
                <input
                  matInput
                  placeholder="Role"
                  formControlName="role"
                  required="required"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="form-group col-md-6">
              <mat-form-field >
                <mat-label>Password</mat-label>
                <input   [readonly]="assignedQuizList.role === 'student' "
                  matInput
                  placeholder="Password"
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                />
                <mat-icon matSuffix (click)="hide = !hide">{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <mat-form-field>
                <mat-label>Quiz list</mat-label>
                <mat-select
                  [(ngModel)]="quizId"
                  [ngModelOptions]="{ standalone: true }"
                  name="quiz"
                  multiple
                >
                  <mat-option
                    *ngFor="let quiz of organizationQuizList"
                    [value]="quiz"
                  >
                    {{ quiz.quizTitle }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group col-md-6">
              <mat-form-field>
                <mat-label>Assigned Quizs</mat-label>
                <mat-select
                  [ngModelOptions]="{ standalone: true }"
                  name="quiz"
                  multiple
                >
                  <mat-option
                    *ngFor="let quiz of quizAllocatedToUser"
                    [value]="quiz"
                  >
                    {{ quiz.quizTitle }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row float-right">
            <span class="spacer"></span>
            <div class="mr-5">
              <button class="btn border-0 mr-1" (click)="cancel()">
                cancel
              </button>
              <button class="btn border-0 mr-1" (click)="save()">save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div> -->

<div class="h-100 d-flex justify-content-center">
  <div class="pl-2 pr-1 pt-4 pb-3 mat-card">
    <form class="w-100" [formGroup]="assignQuizForm">
     <div class="row d-flex flex-column flex-sm-row mb-4 ">
      <div class="col-12 col-sm-6 mb-2 mb-sm-0">
        <label class="font-weight-bold">Username</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-12 col-sm-6 mb-2 mb-sm-0">
        <label class="font-weight-bold">Role</label>
        <input type="text" class="form-control"  formControlName="role">
      </div>
     </div>
     <div class="row d-flex flex-column flex-sm-row mb-4">
      <div class="col-12 col-sm-6 mb-2 mb-sm-0">
        <label class="font-weight-bold">Password</label>
        <input type="text" class="form-control" formControlName="password" >
      </div>
     </div>
     <div class="row d-flex mb-4">
      <div class=" d-flex align-items-baseline col-3 mb-2 mb-sm-0">
        <label class="font-weight-bold mr-2">Suspended</label>
        <input type="checkbox">
      </div>
     </div>
     <div class="row d-flex flex-column flex-sm-row mb-4 ">
      <div class="col-12 col-sm-6 mb-2 mb-sm-0">
        <label class="font-weight-bold">First name</label>
        <input type="text" class="form-control" formControlName="firstName" >
      </div>
      <div class="col-12 col-sm-6 mb-2 mb-sm-0">
        <label class="font-weight-bold">Last name</label>
        <input type="text" class="form-control" formControlName="lastName">
      </div>
     </div>
     <div class="row d-flex flex-column flex-sm-row mb-4 ">
      <div class="col-12 col-sm-6 mb-2 mb-sm-0">
        <label class="font-weight-bold">Email</label>
        <input type="text" class="form-control" formControlName="emailAddress">
      </div>
      <div class="col-12 col-sm-6 mb-2 mb-sm-0">
        <label class="font-weight-bold">Organization</label>
        <input type="text" class="form-control"  formControlName="organization">
      </div>
     </div>
     <div class="row d-flex flex-column flex-sm-row mb-4 align-items-sm-end ">
      <div class="col-12 col-sm-8 mb-2 mb-sm-0">
        <label class="font-weight-bold">Assigned Quizzes</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-5 col-md-3 mb-sm-0 mt-2 mt-md-0 ">
        <button class="btn  btn-success btn-sm" (click)="assignQuizDialog()">Assign Quiz</button>
      </div>
     </div>
     <div class="row d-flex flex-column flex-sm-row mb-4 align-items-sm-end ">
      <div class="col-12 col-sm-8 mb-2 mb-sm-0">
        <label class="font-weight-bold">Assigned Groups</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-5 col-md-3 mb-2 mb-sm-0 mt-2 mt-md-0">
        <button class="btn btn-success btn-sm">Assign Group</button>
      </div>
     </div>
     <div class="row d-flex mt-4">
      <mat-card-actions align="end" class="col-12  mb-2 mb-sm-0 mt-2 mt-md-0">
        <button class="btn  btn-light btn-md mr-2" [routerLink]="['/admin/add-users']">Cancel</button>
        <button class="btn btn-primary  mr-2 pr-3 pl-3">Save</button>
      </mat-card-actions>
     </div>
    </form>
  </div>
</div>
