.btn {
  width: 90px;
  background-color: #268e9b;
  border: none;
  outline: none;
  height: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  font-size:8px;
    // transition: 0.5s;
  }
  .password{
    padding-top:  10px;;
  }
  .mat-card{
    overflow: auto;
    height: 70vh;
  }

  mat-form-field {
    font-size: 10px;
    width: 200px;

  }
