<div #container class="containerr">
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter first name" formControlName="emailAddress">
            <mat-icon matPrefix>email</mat-icon>
            <mat-error *ngIf="checkError('emailAddress', 'required')">Email is required</mat-error>
            <mat-error *ngIf="checkError('emailAddress', 'pattern')">Invalid Email</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matPrefix (click)="hide = !hide">{{hide ? 'lock' : 'lock_open'}}</mat-icon>
            <mat-error *ngIf="checkError('password', 'required')">Password is required</mat-error>
          </mat-form-field>
        </p>
        <input type="submit" value="Login" class="btn solid" />
        <p class="social-text"><a [routerLink]="['/reset']">Forgot password?</a></p>


      </form>
      <form #f="ngForm" class="sign-up-form" [formGroup]="registerForm" >
        
        <h2 class="title">Sign up</h2>  
      <p>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter first name" formControlName="firstName">
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="checkError('firstName', 'required')">First Name is required</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter last name" formControlName="lastName">
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="checkError('lastName', 'required')">Last Name is required</mat-error>
          </mat-form-field>
        </p>
          <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter first name" formControlName="emailAddress">
            <mat-icon matPrefix>email</mat-icon>
            <mat-error *ngIf="checkError('emailAddress', 'required')">Email is required</mat-error>
            <mat-error *ngIf="checkError('emailAddress', 'pattern')">Invalid Email</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matPrefix (click)="hide = !hide">{{hide ? 'lock' : 'lock_open'}}</mat-icon>
            <mat-error *ngIf="checkError('password', 'required')">Password is required</mat-error>
            <mat-error *ngIf="checkError('password', 'pattern')">Password must be 8 characters, 1 uppercase , 1 special character</mat-error>
          </mat-form-field>
        </p>      
        <input type="submit" class="btn" value="Sign up"  (click)="register()"/>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New ?</h3>
        <p>
          In life, the classroom is everywhere. The exam comes at the very end.
        </p>

        
        <button class="btn transparent"  #signupbtn (click)="signinup(signupbtn,container)">
          Sign up
        </button>
      </div>
      <img src="../../../assets/img/l.svg" class="image" alt="" />
    </div>

    <div class="panel right-panel">
      <div class="content">
        <h3>One of us ?</h3>
        <p>
          In life, the classroom is everywhere. The exam comes at the very end.
        </p>
        <button class="btn transparent" #signinbtn (click)="signinup(signinbtn,container)">
          Sign in
        </button>
      </div>
      <img src="../../../assets/img/r.svg" class="image" alt="" />
    </div>
  </div>
</div>