<!-- <div class="my-account sec-padding">
  <div class="container" fxLayoutAlign="center center">
    <mat-card
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="center center"
      class="p-0"
    >
      <div
        class="my-account-wrap"
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutAlign="center center"
      >
        <div
          class="login-wrapper"
          fxFlex="100"
          fxFlex.gt-md="70"
          fxFlex.md="70"
        >
          <app-my-account></app-my-account>
          <img
            src="assets/images/flags/download.jpg"
            fxLayoutAlign="center center"
            class="m-4"
          />
          <form fxLayout="row wrap" [formGroup]="loginForm">
            <div
              fxFlex="100"
              fxFlex.gt-sm="100"
              class="px-5"
              ngClass.sm="mt-1"
              ngClass.xs="mt-1"
            >
              <mat-form-field appearance="legacy" class="w-100">
                <input
                  matInput
                  placeholder="Email"
                  type="email"
                  matInput
                  minlength="3"
                  email="true"
                  name="Email"
                  id="idemail"
                  appFormErrorMsg
                  formControlName="emailAddress"
                  required
                />
                <mat-icon matPrefix class="mr-3">mail_outline</mat-icon>
              </mat-form-field>
            </div>
            <div
              fxFlex="100"
              fxFlex.gt-sm="100"
              class="px-5"
              ngClass.sm="mt-1"
              ngClass.xs="mt-1"
            >
              <mat-form-field appearance="legacy" class="w-100">
                <input
                  matInput
                  placeholder="Password"
                  [type]="hide ? 'password' : 'text'"
                  matInput
                  minlength="6"
                  appFormErrorMsg
                  name="Password"
                  id="idpassword"
                  formControlName="password"
                  required
                />
                <mat-icon matPrefix class="mr-3">key</mat-icon>

                <i
                  id="icon"
                  class="fa fa-eye-slash"
                  (click)="(!hide)"
                  *ngIf="hide"
                  aria-hidden="true"
                ></i>
                <i
                  id="icon"
                  class="fa fa-eye"
                  (click)="(!hide)"
                  *ngIf="!hide"
                  aria-hidden="true"
                ></i>
              </mat-form-field>
            </div>
            <div
              class="button-wrap"
              fxLayoutAlign="center center"
              fxFlex="100"
              fxFlex.gt-sm="100"
              class="px-5"
              ngClass.sm="mt-1"
              ngClass.xs="mt-1"
            >
              <button
                class="btn-project mb-4"
                mat-raised-button
                color="primary"
                type="submit"
                class="w-100"
                (click)="login()"
              >
                Log in
              </button>
            </div>
            <div
              fxFlex="100"
              fxFlex.gt-sm="100"
              fxLayout="column"
              fxLayoutAlign="center center"
              class="px-5 mb-3 mt-3"
              ngClass.sm="mt-1"
              ngClass.xs="mt-1"
            >
              <a routerLink="/pages/ForgotPassword">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div> -->
<div #container class="containerr">
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fa fa-envelope"></i>
          <input type="text" placeholder="Email" appFormErrorMsg formControlName="emailAddress" name="emailAddress"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autocomplete="off" spellcheck="false" required />
        </div>
        <div class="input-field">
          <i class="fa fa-lock"></i>
          <input type="password" id="idpassword" appFormErrorMsg formControlName="password" placeholder="Password"
            name="p1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" autocomplete="off" spellcheck="false" required />
        </div>
        <input type="submit" [disabled]="loginForm.invalid" value="Login" class="btn solid" />
        <p class="social-text" style="font-weight: bold;"><a [routerLink]="['/reset']">Forgot password?</a></p>
        <p class="social-text" style="color: red;font-weight: bold;font-size: 20px;" *ngIf="avail">{{msg}}</p>

      </form>
      <form #f="ngForm" (ngSubmit)="onSubmitRegister(f)" class="sign-up-form">
        <h2 class="title">Sign up</h2>

        <div class="input-field">
          <i class="fa fa-envelope"></i>
          <input type="email" placeholder="Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            autocomplete="off" email spellcheck="false" ngModel required #email="ngModel" />

        </div>
        <div class="input-field">
          <i class="fa fa-phone"></i>
          <input type="text" placeholder="Mobile no" name="phone" pattern="^(\+91[\-\s]?)?[0]?(91)?[6789]\d{9}$"
            autocomplete="off" spellcheck="false" maxlength="10" ngModel required #phone="ngModel" />
        </div>
        <div class="input-field">
          <i class="fa fa-lock"></i>
          <input type="password" placeholder="Enter Password" name="p1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            autocomplete="off" spellcheck="false" ngModel required #p1="ngModel" />
        </div>
        <div class="input-field">
          <i class="fa fa-lock"></i>
          <input type="password" placeholder="Re-enter Password" name="p2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            autocomplete="off" spellcheck="false" ngModel required #p2="ngModel" />
        </div>

        <input type="submit" [disabled]="f.invalid" class="btn" value="Sign up" />
        <p class="social-text" style="color: red;font-weight: bold;font-size: 20px;" *ngIf="avail">{{msg}}</p>

      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New ?</h3>
        <p>
          In life, the classroom is everywhere. The exam comes at the very end.
        </p>
        <button class="btn transparent"  #signupbtn (click)="signinup(signupbtn,container)">
          Sign up
        </button>
      </div>
      <img src="../../../assets/img/l.svg" class="image" alt="" />
    </div>

    <div class="panel right-panel">
      <div class="content">
        <h3>One of us ?</h3>
        <p>
          In life, the classroom is everywhere. The exam comes at the very end.
        </p>
        <button class="btn transparent" #signinbtn (click)="signinup(signinbtn,container)">
          Sign in
        </button>
      </div>
      <img src="../../../assets/img/r.svg" class="image" alt="" />
    </div>
  </div>
</div>