<app-header-three></app-header-three>
<div class="main pl-5 pr-5 h-100 w-100">

 <mat-card class="w-100  h-100  layout p-4">
      <div
    class="header  rounded-top"
    fxLayout="row"
    fxLayoutAlign="space-between none"
    fxLayout.lt-sm="column"  
  >
    <div fxLayoutAlign="start center" class="searchIcon" >
      <i class="fa fa-search ml-2 searchIcon"  (click)="searchShow()"
        ><span class="ml-2"></span
      ></i>
      <mat-form-field appearance="none">
        <input 
          matInput
          (keyup)="applyFilter($event)"
          placeholder="search"
          #input
        />
      </mat-form-field>
    
    </div>
    <div fxLayoutGap="4px"  fxLayout.xs="row" fxLayoutAlign="start center"
    >
      <button
        class="btn create-button border-0  ml-1"
        [routerLink]="['/admin/add-users']"
      >
        Add user
      </button>
      <button class="btn bulk  mr-2" >Bulk upload user</button>
    </div>
  </div>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource">
      <div class="d-flex" fxFlex-xs="100%">
        <div>
          <ng-container matColumnDef="selectRole">
            <mat-header-cell *matHeaderCellDef>
              <mat-select class="matSelect">
                <mat-option>All</mat-option>
                <mat-option>Trainers</mat-option>
                <mat-option>Administrater</mat-option>
              </mat-select>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox
                [hidden]="row.role === 'admin'"
                (click)="$event.stopPropagation()"
              >
              </mat-checkbox>
            </mat-cell>
          </ng-container>
        </div>

        <div >
          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>FirstName</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="getUserInfo(element)"
              >{{ element.firstName }}
            </mat-cell>
          </ng-container>
        </div>

        <div>
          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef fxHide.lt-sm="true">LastName</mat-header-cell>
            <mat-cell *matCellDef="let element" fxHide.lt-sm="true">{{
              element.lastName
            }}</mat-cell>
          </ng-container>
        </div>

        <div>
          <ng-container matColumnDef="emailAddress">
            <mat-header-cell *matHeaderCellDef class="mr-1"
              >Email</mat-header-cell
            >
            <mat-cell *matCellDef="let element"
              >{{ element.emailAddress }}
            </mat-cell>
          </ng-container>
        </div>

        <div>
          <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef fxHide.lt-sm="true">Role</mat-header-cell>
            <mat-cell *matCellDef="let element" fxHide.lt-sm="true">{{ element.role }} </mat-cell>
          </ng-container>
        </div>

        <div>
          <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef fxHide.lt-sm="true">Created</mat-header-cell>
            <mat-cell *matCellDef="let element" fxHide.lt-sm="true">
              {{ element.created | date }}
            </mat-cell>
          </ng-container>
        </div>
        <div>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutGap="4px">
              <span><i class="fa fa-edit text-success ml-1"                
                  *ngIf="element.role !== 'admin'"
                  (click)="getUserInfo(element)"></i> </span>
                  <span><i
                    class="fa fa-trash  text-danger"
                    *ngIf="element.role !== 'admin'"
                    (click)="deleteUser(element)"
                  ></i></span> 
    

            </mat-cell>
          </ng-container>
        </div>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </div>
    </mat-table>
  </mat-card-content>
</mat-card>
</div>
