@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}
.certificate-title{
  font-size: 40px;
  width: 100%;
  margin-top: 50px ;
}
.title-text{
  text-align: center;
}
.img-container{
  width: 600px;
  height: 200px;
}
.username{
  font-size: 30px;
}


.content{
  width: 60%;
}
// .examiner{
//   position: absolute;
//   bottom: 0;
// }
.custom-position-1{
  width: 600px;
  height: auto;
  margin-top: 120px;

}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.custom-position{
  height: 70px;
  width: 80%;
  position: absolute;
  top: 0;
  clip-path: circle(45.7% at 51% 0);
  background-color: rgb(213, 179, 135);
}
.custom-position-2{
  height: 70px;
  width: 80%;
  position: absolute;
  top: 0;
  clip-path: circle(43.7% at 51% 0);
  background-color:  #17a2b8!important;
}
// .custom-position-3{
//   // position:absolute;
//   // top: 35%;
//   // margin-top: 140px;
// }
// .custom-position-4{
//   position:absolute;
//   top: 40%;
//   font-size: 35px;
// }
// .custom-position-5{
//   position:absolute;
// top: 50%;
// }

// .custom-position-6{
//   position:absolute;
//   font-size: 35px;
//   top: 55%;
// }

// .custom-position-7{
//   position:absolute;
//   top: 65%;
// }
// .custom-position-8{
//   position:absolute;
//   top: 75%;
// }
// .custom-position-9{
//   position:absolute;
//   top: 80%;
// }

// .custom-position-10{
//   position:relative;
//   width: 300px;
//   height: 50px;
//   top: -900px;
//   right: -1500px
  
// }

// .custom-position-11{
//   height: 70px;
//   width: 80%;
//   position: absolute;
//   bottom: 0;
//   clip-path: circle(45.7% at 51% 100%);
//   background-color: rgb(213, 179, 135);
// }
// .custom-position-12{
//   height: 70px;
//   width: 80%;
//   position: absolute;
//   bottom: 0;
//   clip-path: circle(43.7% at 51% 100%);
//   background-color:  #17a2b8!important;
// }

@media screen and (max-width:768px){
  // .title{
  //   font-size: 13px !important;
  // }
  .sub-title{
    font-size: 13px;
  }
  .content{
    width: 100% !important;
  }
  .custom-position-8{
    position:absolute;
    top: 80%;
  }
  .custom-position-9{
    position:absolute;
    top: 85%;
  }
}
