.popular-products {
    border: 1px solid #e7e7e0;
    border-radius: 7px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 25px
}
#business {
    padding: 20px;
    width:250px
}
.items{
    text-transform: uppercase;
    text-align: center!important;
}

.img {
    width: 200px;
    max-width: 200px!important;
    height: 180px;
    align-items: center;
    background: #f6f6f6;
    margin-top: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#f6f6f6;
    padding:0px !important
}

.product-img{
margin-left:0px !important;
background-color: white !important
}
.card{
    height:330px;
}

.recommend{
    text-transform: uppercase;
    margin-top: 9px;
    margin-bottom: 9px;
    text-align: center!important;
}
h5{
    height:35px;
    line-height: 15px !important;
}
.filter-row {
    margin-right: 10px;
    margin-left: 10px;
}
.my-custom-badge-accent.mat-badge-accent .mat-badge-content {
    background:  #777777 ;
    color: white;
  
}
.mat-badge-content {
    width: 30px;
    height: 30px;
    line-height: 30px;
    left:90px;
    top: -90px;
  }
