<div class="left-sidebar-wrapper sec-padding">
    <div class="container">
        <div class="sidebar-wrapper" fxLayout='row' fxLayout.lt-md="column">
            <left-sidebar (categoryEvent)="getCategory($event)"></left-sidebar>

            <div fxFlex="75" fxFlex.lt-sm="100" class="all-products" ngClass.gt-sm="p-left"
                id='anotherComponentsElementId'>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
                    class="filter-row mat-elevation-z1 text-muted">
                    <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()" fxHide.lt-md="true">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <h4 class="items "> <span matBadge={{totalRecords}} matBadgeOverlap="false"
                            class="my-custom-badge-accent" matBadgeColor="accent">Items Found</span></h4>
                    <div>

                        <button mat-icon-button (click)="changeViewType('list', 100,'col-sm-6')" fxHide.lt-md="true">
                            <mat-icon>view_list</mat-icon>
                        </button>
                        <button mat-icon-button (click)="changeViewType('list', 33.3,'col-sm-12')" fxHide.lt-md="true">
                            <mat-icon>view_module</mat-icon>
                        </button>
                        <button mat-icon-button (click)="changeViewType('list', 25,'col-sm-12')" fxHide.lt-md="true">
                            <mat-icon>view_comfy</mat-icon>
                        </button>
                    </div>
                </div> 
                <div  fxLayout="row wrap" class="products-wrapper">
                   
                    <div *ngFor="let products of allItems | orderBy:sortByOrder | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems:  totalItems  }"
                        fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col">
                        <div class="product-box">
                            
                            <app-product [view]="view" [product]="products"></app-product>
                        </div>
                    </div>
                </div>

                <div fxLayout="row wrap ">
                    <div fxFlex="100">
                        <mat-card class="p-0 text-center no-shadow">
                            <pagination-controls class="product-pagination" (pageChange)="onPageChanged($event)">
                            </pagination-controls>
                        </mat-card>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" class="filter-row mat-elevation-z1 text-muted">

                    <h4 class="recommend" fxFlex="100%">Recommended Items</h4>
                </div>
                <div fxLayout="row wrap" class="products-wrapper">
                    <div *ngFor="let products of menuDetails " fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50"
                        class="col">
                        <div class="product-box">
                            <app-product [view]="view" [product]="products"></app-product>
                        </div>
                    </div>
                </div>
         

            </div>

        </div>
    </div>
</div>