
<div fxLayout="column" class="popular-products" ngClass.gt-md="m-0">
    <div class="title-header">
        <h4 class="title">FEATURED ITEMS</h4>
    </div>
      <mat-list class="reviews">
         <mat-list-item class="content"  *ngFor="let product of product ">
          <div class="media">  <a routerLink="/home/details/{{product.catalogItem}}/{{product.productCategory1}}">
              <img class="img-fluid" src='data:image/jpg;base64,{{product.smallImage}}' alt="" >
            </a>
          </div>
             <div class="info align-self-center">
               <a ><h5>{{product.catalogItemX | slice:0:10}}<span *ngIf="product.catalogItemX?.length > 10" class="email" >... </span></h5></a>
               <div class="stars">
                <app-product-rating [rating]="product.cataLogRating"></app-product-rating>
               </div>
               <p class="price" *ngIf="!productsService?.catalogMode">{{product.categoryCode}}</p>
             </div>
          </mat-list-item>
      </mat-list>
  </div>

 