.reviews{
    width:240px !important;
    z-index: -1 !important;
}
img{
    margin-right: 0px!important;
   height: 85px !important;
    width: 80px!important;
    border-radius: 5px;
}
.price{
    color: #848484;
    font-size: small;
}
.swiper-slide{
    width: 240px!important;
}
.popular-products{
    margin-top: 60px!important;
}
h5{
     text-transform: capitalize;
    text-transform: lowercase;
    padding-top: 0px!important;
    margin-top: 0px!important;
    margin-bottom: 5px!important;
   
}

.title-header{
    z-index: -1 !important;
}
.stars{
    margin-left: -10px!important;
    margin-top: 2px;
}