<mat-dialog-content>
<div class="d-flex justify-content-center align-items-center">
  <div class=" col-md-12 col-lg-12 bg-white shadow-md p-5">
    <div class="mb-4 text-center">
      <i
        class="fa fa-5x fa-check text-success mr-3 border border-success rounded-circle p-1"
        aria-hidden="true"
      ></i>
    </div>
    <div class="text-center">
      <h1>Thank You For Signing Up</h1>
  </div>
</div>
</div>
<div class="row m-2 p-2">
    <div class="d-flex  mb-3 mt-4">
      <mat-icon class="me-2">calendar_today</mat-icon>
      <span class="text-warning font-weight-bold"
        >Terms and Condition <sup>***</sup></span
      >
    </div>

  
    <div>
        <p class="text-secondary">
          1. An individual is permitted to participate only once in the quiz.
        </p>

        <p class="text-secondary">
          2. You are required to update your name, email address, telephone number and postal address on Quiz portal.
        </p>

        <p class="text-secondary">
          3. By submitting your contact details, you will give consent to use these details for further communication.
        </p>

        <p class="text-secondary">
          4. The same mobile number and same email ID cannot be used more than once for participation in the quiz.
        </p>

        <p class="text-secondary">
          5. Discovery/detection/noticing of use of any unfair/spurious means/malpractices, including but not limited to impersonation, double participation etc. during the participation in the quiz, will result in the participation being declared null and void and hence, rejected. The organisers of the quiz competition or any agency acting on their behalf reserves the right in this regard.

        </p>

        <p class="text-secondary">
          6.Employees, directly or indirectly connected with organising the quiz, are not eligible to participate in the quiz. This ineligibility also applies to their immediate family members.

        </p>
        <p class="text-secondary">
          7. All participants to get Participation Certificate.
        </p>
       
      </div>
 <span class="spacer"></span>
  <mat-dialog-actions >
    <button
      class="btn btn-sm btn-success"
      mat-dialog-close
      tabindex="-1"
    >
      {{ cancelButtonText }}
    </button>
  </mat-dialog-actions>
</div>
</mat-dialog-content>
