<footer class="footer sec-padding alt-padding">
  <div class="container">
    <div class=" logo-row">
      <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget"><a class="logo">
          <h2><span class="headerText head">LeLafe</span>
            <span class="head">-Quiz </span>
          </h2>
          <!-- <h3 class="market">Marketplace begins here! </h3> -->
        </a>

        <div class="link"><a href="#"></a> </div>
      </div>
    </div>
    <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2"
        class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <!-- <h5>{{Legal?.title}}</h5> -->
        </div>
        <div class="">
          <ul>
            <!-- <li *ngFor="let item of Legal.items"><a href="#">{{item?.siteMessageX}}</a></li> -->

          </ul>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2"
        class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <!-- <h5>{{CustomerSupport?.title}}</h5> -->
        </div>
        <div class="">
          <ul>
            <!-- <li><a href="#">order status</a></li> -->

          </ul>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2"
        class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <!-- <h5>{{Resources?.title}}</h5> -->
        </div>
        <div class="">
          <ul>
            <!-- <li *ngFor="let item of Resources.items"><a href="#">{{item?.externalLinkX}}</a></li> -->

          </ul>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2"
        class="footer-widget subscribe-widget">
        <!-- <div class="title">
          <h5>Contact Us</h5>
        </div> -->
        <!-- <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-map-marker"></i></div>
          <div class="text">
            <p>{{address?.addressLine1}}, {{address?.addressLine2}}, {{address?.city}} {{address?.country}}</p>
          </div>
        </div> -->
        <!-- <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-phone"></i></div>
          <div class="text">
            <p>{{address?.phone}}</p>
          </div>
        </div> -->
        <!-- <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-envelope"></i></div>
          <div class="text">
            <p><a href="#">{{address?.email}}</a></p>
          </div>
        </div> -->

        <!-- <ul fxLayout="row" class="social list-inline">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul> -->
      </div>
    </div>
  </div>
  <!-- <div class=" bg-dark text-center"> <span>{{copyRight}}</span></div> -->
</footer>