<footer class="footer sec-padding alt-padding bg-dark">
  <div class="container pt-4">
    <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2"
        class="footer-widget links-widget links-widget-pac">
        <img src="/assets/img/EDUCIAN-1-1.png" />
      </div>

      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2"
        class="footer-widget links-widget links-widget-pac">
        <div class="">
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Software management software demo</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Feature Tour</a></li>
          </ul>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2"
        class="footer-widget links-widget links-widget-pac">
        <div class="">
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Refund Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2"
        class="footer-widget subscribe-widget">
        <div class="title pb-5">
          <input type="text" class="form-control inp-foot" value="Email Address" maxlength="250" />
          <button class="btn btn-primary btn-sub">
            SUBMIT
          </button>
        </div>

        <div fxLayout="row">
          <p class="text-light ml-2 p-foot">
            Join our newsletter to stay up to date on features and releases
          </p>
        </div>

        <ul fxLayout="row" class="social list-inline text-light">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>