<div class="header">
    <div class="container h4 mt-3">Quiz Title</div>  
</div>

<div>


<div class="container content h-100 bg-white">
    <div class="d-flex flex-column">
        <div class="d-flex flex-column pl-4 pt-4" *ngFor="let question of quizQuestions">
            <mat-card-content class="ml-3 mt-2 mr-2">
              <div
                class="question d-flex flex-sm-row align-items-center"
              >
                  
                <div  class="font-weight-bold h5" [innerHTML]="question.question | sanitizedHtml"></div>
               
              </div>
              <div class="options w-100">
                  <mat-radio-group class="col-12 d-flex flex-column flex-lg-row flex-lg-wrap"
                  >
                    <mat-radio-button [color]="color"
                      class="col-12 col-lg-5 border border-info rounded mr-4 mb-4 pt-3 pb-2 "
                      *ngFor="let option of question.options"
                      [value]="option.option"
                      >{{ option.option }}</mat-radio-button
                    >
                  </mat-radio-group>
              </div>
            </mat-card-content>
            <hr />
          </div>
          <div class="content-footer d-flex justify-content-around align-items-center  ">
            <div>Answered 0 of 3</div>
             <button class="btn">Submit</button>
          </div>
        </div>

</div>



