// p{
//     font-size:15px;
//     }
//     .icon{
//         font-size: 12px;
//     }
.quiz-span {
  margin-right: 20px;
}

.status-menu {
  height: 35px;

  background-color: rgba(255, 255, 255, 1);

  border-bottom: 1px solid #ddd;

  color: rgba(115, 115, 115, 1);

  font-size: 12px;

  padding-top: 10px;

  text-align: right;
}
