.product-item {
  width: 240px;
}
.img {
  width: 100%;
  height: 180px;
  align-items: center;
  background: #f6f6f6;
  margin-top: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #f6f6f6;
  padding: 0px !important;
}

.product-img {
  margin-left: 0px !important;
  background-color: white !important;
}

h5 {
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .detail {
    margin-left: -200px !important;
  }
}
.left {
  width: 40% !important;
}
.product-info-wrapper {
  margin-left: 10px !important;
}
a.cart {
  margin-left: 90px;
}
.stars {
  margin-left: -10px !important;
}

