<swiper [config]="config" class="relatedItems" *ngIf="product">
   <ng-template swiperSlide *ngFor="let product of product">
      <div class="product-item ">
         <mat-card class="p-0">
            <div class="row ">
               <div class="col-sm-12">
                  <a class="product-link"
                     routerLink="/home/details/{{product.catalogItem}}/{{product.productCategory1}}">
                     <img class="img" src='data:image/jpg;base64,{{product.mediumImage}}'>
                  </a>
               </div>
               <div class="product-info-wrapper">
                  <!-- change starts -->
                  <span class="category">{{product.productCategoryX}}</span>
                  <!-- change ends -->
                  <div class="title-wrap">
                     <h4>{{product.catalogItemX | slice:0:11}} <span *ngIf="product.catalogItemX.length > 11">...</span>
                     </h4>
                  </div>
                  <div class="stars">
                     <app-product-rating [rating]="product.cataLogRating"></app-product-rating>
                  </div>
                  <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center">
                     <p class="ml-5">{{product.price | currency:productsService?.currency:'symbol'}}</p>
                     <a (click)="addToCart(product)" class="cart">
                        <mat-icon class="mat-icon-lg mat-icon material-icons">shopping_cart</mat-icon>
                     </a>
                  </div>
                  <div class="icons" fxLayout="column">
                     <a (click)="addToWishlist(product)">
                        <mat-icon class="mat-icon-lg mat-icon material-icons">favorite_border</mat-icon>
                     </a>
                     <a (click)="openProductDialog(product)">
                        <mat-icon>remove_red_eye</mat-icon>
                     </a>
                     <a (click)="addToCompare(product)">
                        <mat-icon>cached</mat-icon>
                     </a>
                  </div>
               </div>
            </div>
         </mat-card>
      </div>
   </ng-template>


</swiper>