
  <div class="d-flex justify-content-between" *ngIf="!data">
    <mat-card-header>New Question</mat-card-header>
    <button
      type="button"
      class="close shadow-none"
     (click)="closeDialogModel()"
     
    >
      &times;
    </button>
   
  </div>
 

  <mat-dialog-content *ngIf="!data">
    <hr />
      <div [formGroup]="questionBank">
    <div class="form-group d-flex flex-column flex-lg-row align-items-baseline">
      <label class="col-lg-2 control-label p-0 font-weight-bold"
        >Question Type</label
      >
      <div class="col-lg-4">
        <select
          class="form-control question-type"
          ngClass.lt-md="w-50"
          id="exampleFormControlSelect1"
          formControlName="type"
          (change)="setQuestionType($event.target.value)"
          name="Type of Question"
        >
          <option disabled>Choose Question Type</option>
          <option
            *ngFor="let questiontype of typeOfQuestions"
            [value]="questiontype.type"
          >
            {{ questiontype.type }}
          </option>
        </select>
      </div>
      <div
        class="col-lg-3 d-flex mt-2 mt-lg-0 justify-content-between align-items-baseline p-0 mr-2"
      >
        <label class="control-label mr-1 font-weight-bold">Time</label>
        <input
          type="number"
          formControlName="timeLimit"
          name="Time"
          class="form-control time"
          ngClass.lt-md="w-25"
          
        />
      </div>
      <div
        class="col-lg-3 mt-2 mt-lg-0 d-flex justify-content-between align-items-baseline p-0"
      >
        <label class="control-label mr-1 font-weight-bold">Marks</label>
        <input
          type="number"
          class="form-control marks"
          ngClass.lt-md="w-25"
          formControlName="marks"
          name="marks"
        />
      </div>
    </div>

    <div class="form-group d-flex flex-column flex-lg-row ">
      <label class="col-lg-2 control-label p-0 font-weight-bold"
      >Question</label
    >
    <div class="col-lg-10">
      <ckeditor
        formControlName="question"
        [config]="ckeConfig"
      ></ckeditor>
    </div>
    </div>
    <div
                class="form-group d-flex"
                ngClass.lt-sm="d-flex flex-column"
                *ngIf="
                  questionType == 'face-recognition' ||
                  questionType == 'audio' ||
                  questionType == 'video'
                "
              >
                <label class="col-sm-2 control-label p-0 font-weight-bold"
                  >Image</label
                >
                <div class="col-sm-10">
                  <span>
                    <input
                      type="file"
                      name="myfile"
                      formControlName="file"
                      (change)="uploadFile($event)"
                      name="file"
                    />
                  </span>
                </div>
              </div>
              <div class="form-group d-flex" ngClass.lt-sm="d-flex flex-column">
                <hr />
                <label class="col-sm-2 p-0 font-weight-bold">Options</label>
                <div class="col-sm-10 d-flex flex-column">
                  <ng-container formArrayName="options">
                    <ng-container
                      *ngFor="
                        let questionOptions of options.controls;
                        let i = index
                      "
                    >
                      <div
                        [formGroup]="questionOptions"
                        class="d-flex flex-grow-1"
                      >
                        <input
                          class="form-control mr-1"
                          type="text"
                          formControlName="option"
                          name="option"
                          appFormErrorMsg
                          required
                          minlength="1"
                        />
                        <div class="d-flex align-items-center">
                          <mat-checkbox
                            class="example-margin"
                            (change)="getCorrectAnswer(i, $event)"
                          >
                            Correct
                          </mat-checkbox>
                          <i
                            class="fa fa-times margin ml-2 fa-lg icon text-danger"
                            (click)="removeOption(i)"
                          ></i>
                        </div>
                      </div>
                      <hr />
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <div class="form-group d-flex" ngClass.lt-sm="d-flex flex-column">
                <label class="col-sm-2 p-0" fxHide.lt-sm="true"></label>
                <button
                  class="btn"
                  ngClass.lt-sm="w-50"
                  (click)="addOptions()"
                >
                  Add options
                </button>
              </div>
            </div>
            
    </mat-dialog-content>
   
    <mat-card-actions align="end" *ngIf="!data">
      
      <button
        type="button"
        class=" btn"
       (click)="closeDialogModel()"
      >
        Cancel
      </button>

      <button type="button" class="btn ml-1" (click)="addQuestion()">
        Save
      </button>
    </mat-card-actions>



 
<!-- edit dialog -->

<div class="d-flex justify-content-between" *ngIf="data">
  <mat-card-header>Edit Question</mat-card-header>
  <button
    type="button"
    class="close shadow-none"
   (click)="closeDialogModel()"
   
  >
    &times;
  </button>
</div>


<mat-dialog-content *ngIf="data">
  <hr />
    <div [formGroup]="questionBank">
  <div class="form-group d-flex flex-column flex-lg-row align-items-baseline">
    <label class="col-lg-2 control-label p-0 font-weight-bold"
      >Question Type</label
    >
    <div class="col-lg-4">
      <select
        class="form-control question-type"
        ngClass.lt-md="w-50"
        id="exampleFormControlSelect1"
        formControlName="type"
        (change)="setQuestionType($event.target.value)"
        name="Type of Question"
      >
        <option disabled>Choose Question Type</option>
        <option
          *ngFor="let questiontype of typeOfQuestions"
          [value]="questiontype.type"
        >
          {{ questiontype.type }}
        </option>
      </select>
    </div>
    <div
      class="col-lg-3 d-flex mt-2 mt-lg-0 justify-content-between align-items-baseline p-0 mr-2"
    >
      <label class="control-label mr-1 font-weight-bold">Time</label>
      <input
        type="number"
        formControlName="timeLimit"
        name="Time"
        class="form-control time"
        ngClass.lt-md="w-25"
        
      />
    </div>
    <div
      class="col-lg-3 mt-2 mt-lg-0 d-flex justify-content-between align-items-baseline p-0"
    >
      <label class="control-label mr-1 font-weight-bold">Marks</label>
      <input
        type="number"
        class="form-control marks"
        ngClass.lt-md="w-25"
        formControlName="marks"
        name="marks"
      />
    </div>
  </div>

  <div class="form-group d-flex flex-column flex-lg-row ">
    <label class="col-lg-2 control-label p-0 font-weight-bold"
    >Question</label
  >
  <div class="col-lg-10">
    <ckeditor
      formControlName="question"
      [config]="ckeConfig"
    ></ckeditor>
  </div>
  </div>
  <div
              class="form-group d-flex"
              ngClass.lt-sm="d-flex flex-column"
              *ngIf="
                questionType == 'face-recognition' ||
                questionType == 'audio' ||
                questionType == 'video'
              "
            >
              <label class="col-sm-2 control-label p-0 font-weight-bold"
                >Image</label
              >
              <div class="col-sm-10">
                <span>
                  <input
                    type="file"
                    name="myfile"
                    formControlName="file"
                    (change)="uploadFile($event)"
                    name="file"
                  />
                </span>
              </div>
            </div>
            <div class="form-group d-flex" ngClass.lt-sm="d-flex flex-column">
              <hr />
              <label class="col-sm-2 p-0 font-weight-bold">Options</label>
              <div class="col-sm-10 d-flex flex-column">
                <ng-container formArrayName="options">
                  <ng-container
                    *ngFor="
                      let questionOptions of options.controls;
                      let i = index
                    "
                  >
                    <div
                      [formGroup]="questionOptions"
                      class="d-flex flex-grow-1"
                    >
                      <input
                        class="form-control mr-2"
                        type="text"
                        formControlName="option"
                        name="option"
                        appFormErrorMsg
                        required
                        minlength="1"
                      />
                      <div class="d-flex align-items-center">
                        <mat-checkbox
                          class="example-margin"
                          (change)="getCorrectAnswer(i, $event)"
                        >
                          Correct
                        </mat-checkbox>
                        <i
                          class="fa fa-times margin ml-2 fa-lg icon text-danger"
                          (click)="removeOption(i)"
                        ></i>
                      </div>
                    </div>
                    <hr />
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="form-group d-flex" ngClass.lt-sm="d-flex flex-column">
              <label class="col-sm-2 p-0" fxHide.lt-sm="true"></label>
              <button
                class="btn"
                ngClass.lt-sm="w-50"
                (click)="addOptions()"
              >
                Add options
              </button>
            </div>
          </div>
          
  </mat-dialog-content>
 
  <mat-card-actions align="end" *ngIf="data">
    
    <button
      type="button"
      class="btn"
     (click)="closeDialogModel()"
    >
      Cancel
    </button>

    <button type="button" class="btn ml-1" (click)="editQuestion()">
      Edit
    </button>
  </mat-card-actions>

