.cursor {
  cursor: pointer;
}

.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.mat-dialog-content {
  max-height: 86.6%;
}
mat-card-actions {
  padding: 0 0;
  margin-bottom: 0;
}
.button {
  background-color: #28a745;
  border-color: #28a745;
  height: 37px;
  border: none;
  outline: none;
  color: #fff;
}

.options {
  margin-right: 30px;
}
.options-width {
  width: 100%;
}

@media screen and(max-width:340px) {
  .options-width {
    width: 80%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 958px) {
  .time {
    width: 25%;
  }
  .marks {
    width: 25%;
  }
  .question-type {
    width: 50%;
  }
}
:host {
  .mark {
    mat-icon {
      position: absolute;
      bottom: -3px;
    }
    span {
      margin-left: 28px;
      position: relative;
    bottom: 5px;
    left: 10px;
    }
  }
}
mat-form-field{
  font-size: 9px;
}
mat-select span{
  position: relative;
  bottom: 5px;
  left: 10px;
  }

.text-right{
  text-align: right;
}