<mat-sidenav-container fullscreen>
    <mat-sidenav [opened]="false" mode="over"  #start  class="sidenav">
        <button mat-icon-button color="warn" class="close" (click)="start.close()">
          <mat-icon color="warn">close</mat-icon>
        </button>
        <div class="divider"></div>
        <div class="sidebar-items " fxLayout="column"  >
            <app-sidebar *ngFor="let item of sidenav" [item]="item"></app-sidebar>
        </div>
    </mat-sidenav>
   <app-header-two  *ngIf="router.url != '/pages/error' || !router.url.includes('quiz-result')" ></app-header-two>
  <router-outlet></router-outlet>
  <!-- <app-footer *ngIf="router.url != '/pages/error' && url != '/auth/login' && url != '/home/home-page' "></app-footer>
  <app-footer-two *ngIf="url == '/home/five'"></app-footer-two> -->
</mat-sidenav-container>
