.full-width {
    width: 100vw;
  }
  
  .heading {
    background-color: #5bc0de;
    width: 100%;
    color: #222;
    padding: 20px;
    h3{
      margin-left: 12vw;
    }
    span {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 36px;
      font-weight: 400 !important;
     
    }
  }
  .top-padding {
    padding-top: 3px;
  }
  .registerbtn{
      border-radius: 4px;
      background-color: #28a745;
      border-color: #28a745;
      background-position: 0 -15px;
  }
  .btn {
    width: 150px;
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    margin: 0;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  .btn:hover {
    // background-color: #268e9b;
    color: #fff;
  }
  // img {
  //   height: 30px;
  // }
  // .container,
  // .container-lg,
  // .container-md,
  // .container-sm,
  // .container-xl {
  //   max-width: 610px;
  //   margin-top: 100px;
  // }
  
  // .form-container {
  //   margin: 100px;
  // }
  
  @media screen and (max-width: 768px) {
    // .container,
    // .container-lg,
    // .container-md,
    // .container-sm,
    // .container-xl {
    //   max-width: 610px;
    //   margin-top: 100px;
    // }
  .heading{
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 36px;
      font-weight: 400 !important;
     }
  }
  