<div class="heading" fxLayout="column">
    <h3><span>Register for quiz</span></h3>
  </div>
  
  <div fxLayout="row">
    <div class="container">
      <div class="card-body">
        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName" />
            <div
              *ngIf="
                registerForm.controls['firstName'].invalid &&
                (registerForm.controls['firstName'].dirty ||
                  registerForm.controls['firstName'].touched)
              "
              class="text-danger"
            >
              <div *ngIf="registerForm.controls['firstName'].errors.required">
                First Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" />
            <div
              *ngIf="
                registerForm.controls['lastName'].invalid &&
                (registerForm.controls['lastName'].dirty ||
                  registerForm.controls['lastName'].touched)
              "
              class="text-danger"
            >
              <div *ngIf="registerForm.controls['lastName'].errors.required">
                Last Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="emailAddress" />
            <div
              *ngIf="
                registerForm.controls['emailAddress'].invalid &&
                (registerForm.controls['emailAddress'].dirty ||
                  registerForm.controls['emailAddress'].touched)
              "
              class="text-danger"
            >
              <div *ngIf="registerForm.controls['emailAddress'].errors.required">
                Email is required.
              </div>
            </div>
            <!-- <span class="text-danger"
                                  *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                                  Enter a valid email address
                              </span> -->
                              <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" formControlName="password">
                                <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="text-danger">
                                  <div *ngIf="registerForm.controls['password'].errors.required">
                                 Password is required.
                                </div>
                              </div>
                              </div>
          </div>
  
          <div class="form-group">
            <button
              [disabled]="registerForm.invalid"
              type="submit"
              class="btn btn-success registerbtn"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
