mat-card {
    width: 400px !important;
}

.login-wrapper {
    max-width: 100% !important;
}

#icon {
    font-size: 16px;
    margin-left: -25px;
    cursor: pointer;
}

h5 {
    color: rgb(152, 151, 151) !important;
    font-size: small;
    // font-family
}

i,
mat-icon {
    color: rgb(160, 157, 157) !important;
    font-size: 17px !important;
}

.msg {
    font-size: 15px !important;
    line-height: 15px;
    color: rgb(152, 151, 151) !important;
}
button{
    padding: 0px!important;
    padding-left: 8px !important;
    padding-right: 8px!important;
   
}
