<div>
    <p >Rename Title</p>
    </div>

 <div>
                <input matInput placeholder="New Title" class="form-control"  [(ngModel)]="newquizTitle" appFormErrorMsg required >
     </div>

     <div class="mt-2" fxLayoutAlign="end"   fxLayoutAlign.xs="center">
        <div  class="d-flex p-1"  fxLayoutGap="5px" fxLayout.xs="row">
        <button class="btn border-0 " (click)="onNoClick()">Cancel</button>

        <button class="btn border-0" (click)="renameQuizTitle()">Rename Title</button>

    </div>
    
     </div>
  

  