<div class=" ">
  <nav aria-label="breadcrumb" *ngIf="router.url==='/admin/user-dashboard'">
    <ol class="breadcrumb" >
      <p >Total Users:{{totalUsers}}</p>
    </ol> 
  </nav>
  <nav aria-label="breadcrumb" *ngIf="router.url==='/admin/add-users' ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/admin/user-dashboard']">Users</a></li>
     <li class="breadcrumb-item"><a *ngIf="router.url==='/admin/add-users'">New</a></li>
    </ol>
  </nav>
  <nav aria-label="breadcrumb"*ngIf="router.url.includes('/admin/edit-user?id=')">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/admin/user-dashboard']">Users</a></li>
     <li class="breadcrumb-item"><a>{{emailAddress}}</a></li>
    </ol>
  </nav>

</div>
