nav{
    background-color: #fff;
    left: 0;
    top: 52px;
    height: 35px;
    border-bottom: #ddd solid 1px;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    // margin-bottom: 1rem;
    list-style: none;
    background-color: #fff;
    // border-radius: 0.25rem;
    position: absolute;
    // left:7.6vw;
    padding-left: 7.7vw;
    font-size: 15px;
    color: #777;
    position: relative;
    top: -6px;
    height: 40px;
}
a{
    text-decoration: none;
    color:#777;
}