.container{
    font-size: 13px;
}
.card{
    margin-left:5%;
}
.online{
    text-align: center!important;
}
.circle{
    font-size: 7px!important;
}

// mat-card{
//     // flex-direction: row;
//     // box-sizing: border-box;
//     max-width: 100!important;
// }