
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
  margin: 0;
  padding: 0;

}

.contain{
    height: 400px;
    background:#42428d;
    clip-path: polygon(100% 0, 100% 82%, 52% 94%, 0 81%, 0 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
 
}

.certification-title{
    color: white;
    margin-top: 7%;
    letter-spacing: 8px;
    font-size: 3rem;
    ;
}

.name{
  font-family: 'Pacifico', cursive;
}
.certificate-sub-title{
    color: white;
    font-size: 1.5rem;
    letter-spacing: 5px;

  }

  .footer{
    color: white;
    background:#42428d;
    margin-top: 6em;
    width: auto;
    padding-bottom: 0;
  }
 


    #certificate {
      border: 1px solid red;
        height: auto; 
        padding: 0;
        margin-bottom: 2em;
    }

    // @media print {
    //   #certificate {
    //     height: auto;
    //     width: auto;
    //   }
    // }

